.signup {
  --color: #FFF;
  align-items: center;
  background-image: url(../img/fundo-tela-cadastro.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  overflow-x: hidden;
  padding: 16px;
}

.signup .signup__logo {
  background-image: url(../img/logo.png);
  background-size: cover;
  background-position: center;
  height: 160px;
  margin: 0px auto 2.5em auto;
  width: 276px;
}

.signup .signup__container {
  display: block;
  max-width: 300px;
  width: 100%;
}

.signup .signup__header {
  text-align: center;
  margin-bottom: 2em;
}

.signup .signup__title {
  border-bottom: 1px solid var(--color);
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.signup .signup__subtitle {
  font-size: 14px;
}
.signup .signup__subtitle::before {
  color: var(--main);
  content: "\F35F";
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.signup .signup__step {
  margin-bottom: 3em;
  position: fixed;
  right: -200vw;
  transition: 300ms linear;
}
.signup .signup__step.signup__step--selected {
  position: relative;
  right: 0;
}

.signup .signup__dots-navigators {
  align-items: center;
  display: flex;
  justify-content: center;
}

.signup .signup__dot-navigator {
  background-color: var(--color);
  border-radius: 9999px;
  cursor: pointer;
  height: 8px;
  width: 8px;
}

.signup .signup__dot-navigator + .signup__dot-navigator {
  margin-left: 5px;
}

.signup .signup__dot-navigator.signup__dot-navigator--selected {
  height: 12px;
  width: 12px;
}

.signup .signup__sponser {
  display: block;
  font-size: 16px;
}

.signup .signup__has-account {
  display: none;
  font-size: 14px;
  margin-top: 1.5em;
  text-align: center;
}
.signup .signup__has-account a {
  color: inherit;
}
.signup .signup__has-account.show {
  display: block;
}

.signup .form__btn {
  margin-top: 1.5em !important;
}

.signup .form__input {
  box-shadow: -2px 2px 7px rgba(0, 0, 0, .5) !important;
}
