:root {
  --main: #f35324;
  --main-alt: #ffffff;
  --alternative: #858585;
  --notification: #f9b32f;
  --menu: #f3f3f3;
  --menu-alt: #b9bdc6;
  --bg: #f6f7fb;
  --ok: #30cda2;
  --danger: #a5525c;
  --info: #6298f0;
}

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.main-color {
  color: var(--main) !important;
}

.ok-color {
  color: var(--ok) !important;
}

.danger-color {
  color: var(--danger) !important;
}

.info-color {
  color: var(--info) !important;
}

@font-face {
  src: url(../font/Exo2-Regular.ttf);
  font-family: 'Exo2';
  font-weight: normal;
}
.font-main {
  font-family: 'Exo2', sans-serif;
}
