.wallet .container__header .form {
  display: grid;
  gap: 10px;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  margin-top: 1em;
}

.wallet .container__body {
  display: grid;
  gap: 10px;
  grid-gap: 10px;
}

.wallet .container__output {
  margin: 0;
  padding: 10px;
}

.wallet .custom-table-container {
  overflow-x: scroll;
  width: 100%;
}

.wallet .custom-table {
  border-collapse: collapse;
  font-size: 0.875em;
  width: calc(100% - 1px);
}

.wallet .custom-table thead th {
  background-color: var(--bg);
  border-left: 3px solid var(--main);
  padding: 0.675em;
  text-align: left;
  white-space: nowrap;
}

.wallet .custom-table tbody tr:nth-child(even) {
  background-color: var(--bg);
}

.wallet .custom-table tbody tr,
.wallet .custom-table tbody td {
  border: 1px solid #bbb;
  color: #444;
  padding: 0.675em;
}

.wallet .custom-table tbody td {
  white-space: nowrap;
}

.wallet .custom-table tbody td:last-child {
  font-weight: bold;
}

.wallet .navigators .navigators__nav {
  display: flex;
  color: #444;
}

.wallet .navigators .navigators__nav .navigators__nav__item {
  cursor: pointer;
  padding: 0.25em;
  margin: 0px 2px;
}

.wallet .navigators .navigators__nav .navigators__nav__item--active {
  color: var(--notification);
  border-bottom: 3px solid var(--notification);
}

.wallet .deposit .deposit__value {
  background-color: var(--bg);
  border-radius: 5px;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px;
  padding: 5px 10px;
}

.wallet .deposit .deposit__warning {
  font-size: 0.875em;
  line-height: 1.5;
}

.wallet .deposit .form__btn {
  margin: 0px auto 0px 0px;
}

.wallet .balances .balance__currency {
  margin-top: 10px;
}

.md-min {
  display: none;
}

@media (min-width: 768px) {
  .md-min {
    display: inline;
  }
}

@media (min-width: 864px) {
  .wallet .container__header .form {
    grid-template-columns: 1fr 1fr 1.5fr 0.75fr;
    margin-top: 0px;
  }
}

@media (min-width: 1050px) {
  .wallet {
    grid-template-columns: 70% 30%;
  }

  .wallet--full {
    grid-template-columns: none;
  }

  .wallet .container__item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .wallet .container__item:nth-child(3) {
    grid-column: 2 / 3;
  }
}
